nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: gold;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}
@keyframes popup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}